/* screen - mainpage */

.mainpage {
  align-items: center;
  background-color: var(--x1c0732);
  display: flex;
  flex-direction: column;
}

.mainpage .header {
  align-items: flex-start;
  background-color: #00000033;
  display: flex;
}

.mainpage .frame-container {
  align-items: center;
  background-color: var(--x1c0732);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.mainpage .frame {
  align-items: flex-start;
  display: flex;
  padding: 5px 48px;
}

.mainpage .product {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 64px;
}

.mainpage .pricing {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 13px;
  min-height: 20px;
  white-space: nowrap;
  width: 65px;
}

.mainpage .customers {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 56px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 88px;
}

.mainpage .docs {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 40px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 41px;
}

.mainpage .company {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 40px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 75px;
}

.mainpage .frame-1 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 161px;
  padding: 0 0.0px;
}

.mainpage .sign-up {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.0px;
  min-height: 20px;
  white-space: nowrap;
  width: 70px;
}

.mainpage .frame-2 {
  align-items: flex-start;
  background-color: var(--ocean-green-pearl);
  border-radius: 5px;
  display: flex;
  height: 44px;
  margin-left: 29px;
  min-width: 200px;
  padding: 11px 32px;
}

.mainpage .see-how-it-works {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}

.mainpage .hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 822px;
  padding: 40px;
  top: 0;
}

.mainpage .made-by-marketers-for-marketers {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: 19px;
}

.mainpage .join-20000-markete {
  color: #a89cb4;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 20px;
  padding: 0 10px;
  text-align: left;
}

.mainpage .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  min-height: 192px;
}

.mainpage .rectangle {
  background-color: #352446;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #352446;
}

.mainpage .frame-4 {
  align-items: flex-start;
  background-color: var(--ocean-green-pearl);
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.mainpage .get-a-demo {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 92px;
}

.mainpage .frame-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 8px;
  min-width: 405px;
  padding: 5px 0;
}

.mainpage .create-a-free-account {
  color: var(--ocean-green-pearl);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
  width: 196px;
}

.mainpage .frame-6 {
  align-self: center;
  margin-left: 4px;
  width: 24px;
}

.mainpage .hero-container {
  display: flex;
  align-items: start;
}


.mainpage .hero-image {
  display: none;
  align-items: flex-start;
  transform: rotate(-180deg);
}

@media screen and (min-width: 800px) {
  .mainpage .hero-image {
    display: flex;
  }
}

.mainpage .overlap-group1 {
  position: relative;
  width: 485px;
}

.mainpage .image {
  left: 0;
  object-fit: cover;
  top: 0;
  transform: rotate(-180deg);
  width: 485px;
}

.mainpage .test {
  height: 33px;
  left: 277px;
  object-fit: cover;
  top: 157px;
  transform: rotate(-180deg);
  width: 44px;
}

.mainpage .test-1 {
  left: 138px;
  object-fit: cover;
  top: 74px;
  transform: rotate(-180deg);
  width: 48px;
}
